
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Вариант ручного обнуления стилей минимальная база!!! */

body {
  scroll-behavior: smooth;
  background-color: #fff;
  font-family: 'Inter', sans-serif;
  
}

img {
  display: block;
  max-width: 100%;}

.cont {
  max-width: 1146px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  background: linear-gradient(to right, 
              #d3d3d3 0%, 
              #d3d3d3 90%,   
              #fff 90%,      
              #fff 100%);   
  background-size: 10% 100%; 
}


.header {
  padding: 39px 0;
  }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.navigation a {
  font-size: 16px;
  color: black;
  font-weight: 600;
  padding: 10px;
}

.navigation .home {
  border: 2px solid black;
  border-radius: 4px;
  color: #f25822;
}


.mainContent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.mainContent_leftSide h1 {
  font-size: 55px;
  font-weight: 800;
  line-height: 130%;
  margin-bottom: 40px;
}

.mainContent_leftSide p {
  font-size: 18px;
  line-height: 160%;
  opacity: 0.7;
  margin-bottom: 50px;
  color: #888;
  text-align: left; 
}

.mainContent_leftSide_btnList {
  display: flex;
  gap: 20px;
  align-items: left;
}

.mainContent_leftSide_btnList_button1,
.mainContent_leftSide_btnList_button2 {
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 20px;
  cursor: pointer;  
}

.mainContent_leftSide_btnList_button1 {
  background: #f25822;
  color: #fff;
  border: none;
  display: block;
  margin: -1 auto; 
}

.mainContent_leftSide_btnList_button2 {
  background: none;
  color: #aaaa;
  border: none;
}

  .logos {
  display: flex;
  justify-content: space-between; 
  width: 100%;
  margin-bottom: 40px;
  
}


.cardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 20px;
}

.card {
  padding: 20px;
  border: 1px solid #ddd; 
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card img {
  max-width: 100%;
  height: auto;
}

.card h2, .card h1 {
  margin: 10px 0;
}

.card p {
  margin: 10px 0;
  text-align: center;  
  color: #888; 
}
.card_top p {
  text-align: left;
}
.card a
 {
  margin-top: auto; 
  text-align: center;
  display: block;
 }
  .card button {
  margin-top: auto; 
  text-align: center;
  display: block;
  padding: 15px 30px;
  border-radius: 50px;
  background: #f25822;
  color: #fff;
  border: none;
  font-size: 20px;
  cursor: pointer;
  align-items: center;
  }


.card:nth-child(4) {
  grid-column: 1 / span 3; 
}


.card_top {
  align-items: flex-start; 
  text-align: start;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
}


.card_middle {
  grid-column: 1 / span 3; 
  text-align: center; 
}

.card_bottom {
  text-align: center; 
  background-color: white;
}
.card_bottom button {
  display: block;
  margin: 0 auto; 
}

.card_bottom:nth-child(2) {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

@media(min-width: 848px) and (max-width: 1146px) {
  .cont (
    max-width: 1146px;
    
  )
}